@import url('https://fonts.googleapis.com/css?family=PT+Serif');
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'PT Serif', serif;
    }
    body {
        display: flex;
        min-height: 100vh;
    }
    h1 {
        text-align: center;
        margin-bottom: 14px
    }
    #banner {
        width: 70%;
        max-width: 900px;
        margin: 14px auto;
    }
    /*IMAGENES*/

    #box-carousel {
        position: relative;
        padding: 0 70px;
        overflow: hidden;

    }
    #box-carousel #carousel {
        height: 287px;
        overflow: hidden;
    }
    #carousel ul {
        display: flex;
    }
    #carousel li {
        list-style: none;
        width: 100%;
    }
    #box-carousel img {
        display: block;
        max-width: 100%;
    }
    /*BOTON ANTERIOR Y POSTERIOR*/
    #btn-prev , #btn-next {
        position: absolute;
        top: 50%;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        transform: scaleX(0.7);
    }
    #btn-prev {
        left: 35px;
    }
    #btn-next {
        right: 35px;
    }
    /*BOTONES*/
   #botones ul {
        width: 30%;
        display: flex;
        justify-content: space-between;
        margin: 7px auto;
    }
    #botones > ul > li {
        display: inline-block;
    }
    #botones [type="button"] {
        border-color: #a9a9a9;
        color: #a9a9a9;
        font-size: 1px;
        background: #a9a9a9;
        border-radius: 50%;
        font-weight: 800;
        width: 14px;
        height: 14px;
        cursor: pointer;
    }
    #botones [type="button"]:hover {
        border-color: #000;
        color: #000;
        background: #000;
    }

    .color-circle {
        background: #000!important;
    }
@media only screen and (max-width: 1025px) {
    h1 {
        font-size: 21px;
    }
    #box-carousel #carousel {
    height: 252px;
    }
    #btn-prev, #btn-next {
      top: 72%;
    }
}
@media only screen and (max-width: 768px) {

  #box-carousel #carousel {
    height: 140px;
  }
  #btn-prev, #btn-next {
      top: 40%;
  }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 14px;
    }
    #banner {
        width: 100%;
    }
    #box-carousel #carousel {
      height: 91px;
    }
    #botones ul {
        justify-content: center;
    }
}
